.exam-timer{

display:flex;

align-items:center;

gap:15px;

background:#111827;

padding:15px 25px;

border-radius:16px;

width:230px;

margin-bottom:25px;

transition:.3s;

}

.exam-timer svg{

color:#22c55e;

}

.timer-label{

display:block;

font-size:13px;

color:#94a3b8;

margin-bottom:4px;

}

.exam-timer h2{

margin:0;

font-size:28px;

font-weight:700;

color:white;

}

.exam-timer.warning{

background:#7f1d1d;

animation:pulse 1s infinite;

}

.exam-timer.warning svg{

color:#facc15;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.03);

}

100%{

transform:scale(1);

}

}