.question-sidebar{

width:280px;

background:#111827;

border-radius:18px;

padding:24px;

height:fit-content;

}

.question-sidebar h3{

margin-bottom:5px;

font-size:22px;

}

.question-sidebar p{

color:#94a3b8;

margin-bottom:20px;

}

.question-grid{

display:grid;

grid-template-columns:

repeat(5,1fr);

gap:12px;

}

.question-cell{

width:45px;

height:45px;

border-radius:10px;

background:#1e293b;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

font-weight:700;

transition:.25s;

}

.question-cell:hover{

transform:scale(1.08);

}

.question-cell.current{

background:#2563eb;

color:white;

}

.question-cell.answered{

background:#22c55e;

color:white;

}

.question-cell.flagged{

background:#f59e0b;

color:white;

}

.palette-legend{

margin-top:25px;

display:flex;

flex-direction:column;

gap:12px;

}

.palette-legend div{

display:flex;

align-items:center;

gap:10px;

font-size:14px;

}

.legend-box{

width:16px;

height:16px;

border-radius:4px;

background:#1e293b;

}

.legend-box.current{

background:#2563eb;

}

.legend-box.answered{

background:#22c55e;

}

.legend-box.flagged{

background:#f59e0b;

}